
<p>
  <strong>Nombre:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: 'button' %>
